
@import url(https://fonts.googleapis.com/css?family=Halant:400,500,300,600,700|Josefin+Sans:400,100italic,100,300,300italic,400italic,600,600italic,700|Playfair+Display:400,400italic,700,700italic,900,900italic);
/*start fixed variable's*/
 $font-title: 'Josefin Sans', sans-serif;
 $font-paragraph: 'Halant', serif;
 // color && fonts
 $pry: #82a344;
 $sec: #31313c;
 $p-color: #464343;
 $h-color: #ffffff;
 $m-font: 16px;
 
 %main{
   position: relative;
   margin-top:0;
   margin-left: 0;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   
 }
 %over{
   position: absolute;
   top:0;
   left: 0;
   width: 100%; 
   height: 100%;
   background-color: rgba($pry, .7); 
 }
%tit_style{
 font-size: 5 * $m-font;
 position: relative;
 display: inline-block;
 text-align: center;  
 margin: 0 auto;
 color:$h-color;
 text-transform: capitalize;
 padding-bottom: 13px;
 font-family:'Playfair Display', serif;
 &::after{
     position: absolute;
     content: "";
     width: 100%;
     height: 30px;
     background-color: rgba($h-color, .3);
     z-index: 100;
     bottom: 25px;
     left: 0px;
     border-radius: 25px 8px;
     transform:rotate(-4deg);
     -webkit-transform:rotate(-4deg);
     -moz-transform:rotate(-4deg);
     -ms-transform:rotate(-4deg);
     -o-transform:rotate(-4deg);
     @media(max-width:991px){
         height: 20px;
         bottom: 20px;
     }
} 
}

 %button{
  
   background-color:transparent;
   border:2px solid $h-color;
   position: relative;
   a{
       text-decoration: none;
       text-transform: uppercase;
       color: $h-color;
       font-weight: bold;
       
   }
   &::before{
   position: absolute;
   content:'';
   height: 100%;
   width: 0;
   background-color:$h-color;
   left: 0;
   top: 0;
   transition: .3s ease-in-out;
   -webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
   -ms-transition: .3s ease-in-out;
   -o-transition: .3s ease-in-out;
}
 &:hover{
     &::before{
         width: 100%;
     }
     a{
         color:$p-color; 
         position: relative;
      }
 }
 
 }
 
 @mixin transition($t){
    -webkit-transition:all $t ease-in-out;
    -moz-transition: all $t ease-in-out;
    -ms-transition:all $t ease-in-out;
    -o-transition:all $t ease-in-out;
    transition:all $t ease-in-out; 
 }
 
 @mixin border-r($b){
    -webkit-border-radius:$b;
    -moz-border-radius:$b;
    -ms-border-radius:$b;
    -o-border-radius:$b;
    border-radius:$b;
 }
 
 /*this style for ffbar*/
 ::-webkit-scrollbar { 
   width: 7px;
 }
 ::-webkit-scrollbar-track {
   background: $sec; 
    border: 1px solid $pry;   
   background-color: transparent;
 }
 ::-webkit-scrollbar-thumb {
   background: $pry;      
 }
 ::-webkit-scrollbar-thumb:hover {
   background: $sec; 
   @include transition(1s);
 }
/* Color of the links BEFORE scroll */
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff !important;
}
.nav-link{
  text-transform: capitalize;
  &:hover, &:focus, &:active{
    color:$pry !important;
  }
  color: #fff ;
  @media(min-width:992px){
  
  }
  
 
}
nav{
  background-color: rgba(238, 234, 234, 0.3);
 @include transition(.4s);
  position: absolute;
}
.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
}

.NavUl{
  @media(min-width:992px){
    gap:15px;
  }
}


.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #4f4f4f;
}


@media (max-width: 991px) {
  .scrollNow {
    background-color: #fff;
  }
     
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #4f4f4f !important;
  }         
}



.mask-custom {
  backdrop-filter: blur(5px);
   background-color: rgba(244, 238, 238, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.scrollNow{
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  position: fixed;

}
.addColor{
  color:$sec !important;
} 





#carouselExampleFade{
  height: 100%;
  overflow: hidden;
  // z-index: 2;
  .carousel-inner{
  }
    
   
          img.height{
              object-fit: cover;
              object-position: center;
              overflow: hidden;
              height: 90vh;
          }
          .carousel-caption{
               z-index: 1;
              //  display: none;
               margin: 0 auto;
               top: 20%; 
              max-width: 500px; 
              @media(max-width:991px){
              h2{
                  font-size:1.2  $m-font!important;
                  position: relative;
               
          
              }
              p{ 
                  font-size: $m-font  !important;
              }
              button{
                  border:1px; 
                  @media(max-width:380px){
                  
                      a{
                            font-size: $m-font - 5px; 
                      }
                   
                  }

              }
              }
             
         
               
              h2, p {
                  text-transform: capitalize; 
              }
              h2{  
               @extend %tit_style;
               font-size: 3 *  $m-font!important;
              } 
              p{  
                  font-family: $font-paragraph;
              }
              // caption______________________2
              p.subscribe{
                  span{
                      color:$sec;
                      background-color:$h-color;
                      padding: 4px 7px;
                      @include border-r(4px);
                      text-decoration: line-through;
                  }
              }
              .sub_info{
                  text-align: center;
                }
                  input{
                       border:none;
                     
                      //  display: block;
                       padding: 8px 15px; 
                    margin: 0 auto;
                    @media(max-width:380px){
                      font-size: $m-font - 5px;
                  }
                  }
                  input[type='email']{
                      // min-width: 250px;
                      border-top-left-radius: 6px; 
                      border-bottom-left-radius: 6px;  
                      outline: none;
                      @media(max-width:424px){
                          @include border-r(8px);
                      }
                     
                  }
                  input[type='submit']{ 
                      background-color:rgba($pry, .8);
                      font-weight: bold;
                      color:$h-color;
                      border-top-right-radius: 6px; 
                      border-bottom-right-radius: 6px; 
                      margin-left: -5px;
                      text-transform: capitalize;
                      display: inline-block; 
                    &:hover{ 
                      background-color:$pry;
                    
                    } 
                  //   media custom small screen 
                    @media(max-width:424px){
                      margin: 5px auto; 
                      text-align: center;
                      display: block; 
                      @include border-r(8px);
                  }
                  }
              
              // caption__________________3
              .gallery{  
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  align-items:center;
                 
                 
              }
              .row_{
                display: flex;
                margin: 0;
              
          
           }
              img.galla{ 
                position: relative;
                height: 70px ;
                width: 120px;
                margin: 5px;
               

            }
              button{
                  background-color:transparent;
                  border:2px solid $h-color;
                  position: relative;
                  @media(max-width:380px){
                  
                      a{
                            font-size: $m-font - 5px; 
                      }
                   
                  }
               
                  a{
                      text-decoration: none;
                      text-transform: uppercase;
                      color: $h-color;
                      font-weight: bold;
                      @include transition(.3s);
                      @media(max-width: 767px){
                          font-size: $m-font - 3px;
                      }

                  }
                  // media small screen
                  @media(max-width:575px){
                      display: block;
                      width: 170px; 
                      margin: 5px auto;
                  }
                  @media(max-width:380px){
                  
                      a{
                            font-size: $m-font - 5px; 
                      }
                   
                  }
              }
              button:nth-of-type(1){
               @extend %button;
              }
              button.style{     
                  a{
                     color:$sec; 
                  }
                   
                  background-color:$h-color;
                 
              }
        
          }
         
     
      .dark-overlay {
          &:after{
               content:"";
           @extend %over;
          //  background-color:rgba($sec, .5) !important;
           background: $sec; 
          background: -webkit-linear-gradient(to right, $sec, $pry);  
          background: linear-gradient(to right, $pry, $sec); 
        opacity: .5;  
          }
         
      }
     
 
  button.arrow span{
      // padding: 15px;
      border: 10px solid #ddd;
      width: 45px;
      height: 45px;
      font-size: 1rem; 
      font-weight: bolder; 
      svg{
          font-size: $m-font +10px;
      }
  }
  .carousel-control-prev span, .carousel-control-next span{
      position: absolute;
      border-radius:50%;
      background-color:$pry !important;
      width: 40px; 
      height: 40px;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      -ms-border-radius:50%;
      -o-border-radius:50%;
svg{
  color:$h-color;

}
     
  }
}
/*start section.about block style
__________________________
_________________________section.about______________________
__________________________
*/
section.about{
  padding-top: 70px;
  .parent{
    display: flex;
    justify-content: center;
    gap: 15px;
    @media(max-width:550px){
     flex-direction: column;
    }
  }   
  .min_content_img{
    // background-image: url('../img/header/about_1.jpg');
   
    height: 360px;
    border: 5px solid rgba($sec, .1);
    overflow: hidden;
    &:hover{
 
      img{
    scale:2;
   background-position: left;
      }
   
}
img{
  width:100%;
  height:100%;
  background-size: cover;
  background-position: bottom;
  
  @include transition(1s);
}

  }
  .min{
    @media(max-width:574px){
   margin-top: 20px;
    }
  }
  .min_content_img:first-of-type{
    margin-top: -40px;
  }
  .min_content_img:last-of-type{
    // background-image: url('../img/header/about_2.jpg');
  }
  h5, h3{
    font-family: $font-title;
    text-transform:capitalize;
  }
  span, p{
    font-family: $font-paragraph;
    text-transform:capitalize;
  }
  .heading_tit{

    text-transform:capitalize;
    color:rgba($sec, .7);
font-size: $m-font;

    position:relative;
    padding-left: 55px;
   &:before{
    position: absolute;
    content: "";
    width: 52px;
    height: 3px;
    background: rgba($sec, .7);
    left: 0;
    bottom: 7px;
    @include border-r(10px);
   }
  }
  h3{

  }
  span{

  }
  p{
span{
  color:$sec;
}
  }
  button{
@extend %button;
border:2px solid $sec;
line-height: 2;
  }
  a{
    color:$sec !important; 
    padding: 5px 17px;
    font-size: $m-font;
  }
} 
  

/*start product block style
__________________________
_________________________product______________________
__________________________
*/
.product{
  background-color:rgba($sec, .01);  
  padding: 20px 0;
  margin-top: 60px;

h3{
  font-family: $font-title;
 
  span{
 font-size:$m-font - 3px;
 color:rgba($sec, .7);
  }
}
  .chiled_img_1{
background-image:url('../img/header/product_1.jpg');
  }
  .chiled_img_2{
    background-image:url('../img/header/product_2.jpg') ;
  }
  .chiled_img_3{
    background-image:url('../img/header/product_3.jpg') ;
  }
  .img{ 
    // width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position:relative;
  }
  .overlay{
@extend %button;   
position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba($sec, .7);
    &:before{
      display:none;
    }
  }
  .top{
    
    @media(max-width:991px){ 
      flex-direction: column;
      .chiled_:first-of-type{
        order: 2;
        }
      .chiled_:last-of-type{
      order: 1;
      }
    }
  }
  .end{
    @media(max-width:991px){ 
      .chiled_:first-of-type{
        order: 2;
        }
      .chiled_:last-of-type{
      order: 1;
      }
    
    }
  }
.top, .middel, .end{
  display: flex;
  justify-content: center; 
  // gap: 20px;
  @media(max-width:991px){
    flex-direction: column; 
  } 
 
}
.chiled_{
  width: 100%;
  min-height: 350px; 
}     
.info{
  // padding: 30px;
}
.min{
  padding: 30px;
}
h4, h3{
  font-family: $font-title !important; 
  color:$sec;
}
h3{
  padding: 25px 0 20px 0;
  text-align: center;
}
p{
color:rgba($sec, .7);
}
h4, span, p, a{
    text-transform:capitalize;
      font-family: $font-paragraph;

}
button{
  // border: 1px solid rgba($sec, .8);
    padding: 5px 20px;
    border:none;
    background-color:rgba($sec, .8);
    &:hover{
        background-color:$sec;
      // border: 1px solid rgba($sec, 1);
      a{
        color:$h-color;
      }
    }

} 
a{ 
  text-decoration: none;
  color:$h-color; 
}

}







#overview {
  position: relative;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  width: 100%;
  // height: 100%;
  z-index: 10;
  overflow: hidden;
  margin: 0;
  padding: 0;
  
  .touch & {
    background: url(http://xtianmiller.com/dist/videos/winter_creek.jpg) no-repeat center;
    background-size: cover;
  }
}
video {
  width: 100%;
  height: 100%;
  
  .touch & {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  z-index: 20;
  background-color: rgba(0,0,0,0.8);
  padding-left: 6%;
  padding-right: 6%;
  display: table;
  
  &__inner {
    width: 100%; 
    height: auto; 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }  
   
  h1 {
    max-width: 40em;
    color: #fff; 
    line-height: 1.3;
    font-size:3 * $m-font;
    margin: 0 auto;
    font-family:$font-title;  
  }
  h2, p{
    text-transform:capitalize; 
  }
  p {  
    padding-top: 1em;
    max-width: 40em;
    margin: 0 auto;
    font-family:$font-paragraph !important;
    color:rgba($h-color, .8);
    @media(max-width:450px){
      display: none;
    }
  } 
  .social{
    margin-top:1rem;
    button{  
        margin:0 5px;
        width: 45px;
        height:45px;
        @include transition(.1s);
        background-color:$h-color;
        border:3px dashed $h-color;
        opacity: .7;
        @include border-r(7px);
        @media(max-width: 574px){
            width: 40px;
            height:40px;
        }
        &:hover{
         opacity:1;
            svg{
                // font-size: $m-font + 20px ;
            }
        }
        a{
            text-decoration: none;
            svg{
                font-size: $m-font + 3 ;
                color:$h-color;
            }
        }
    }
    .fa-github{
        color: #171515
    }
    .fa-twitter{
        color:#1da1f2
    }
    .fa-google-plus-g{
        color:#ea4335
    }
    .fa-pinterest{
        color:#bd081c
    }
    .fa-facebook-f{
        color:#3b5998
    }

   }
  
  a.btn {
    display: inline-block;
    margin-top: 25px;
    border: 1px solid #00c1bb;
    color: #00c1bb;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
  }
  
  a.btn span {
    display: inline-block; 
    padding: 6px 40px;
    transition: transform 0.4s;
  }

  a.btn .row2 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
  }

  a.btn:hover .row1 {
    transform: translateY(-100%);
  }

  a.btn:hover .row2 {
    transform: translateY(0);
  }
}















//start footer  section
section.footer_content{
   
          h3{
            text-transform:capitalize;
            padding: 0px 0 20px 0;
            text-align: center;
            font-family: $font-title !important; 
            color:$sec;
          }
          .min_col{ //col-lg-5
              position: relative;
            }
            .map_content{ 
              width: 98%;
              text-align: center;
              margin-left: 1%;

          
              iframe{
  
              }
            }
        
         
          .contact_info{
              @media(max-width:991px){
                  margin-top:50px;
              } 
              form{
                  text-align: left;
            
                }
            input,textarea{
              margin: 0 auto;
              width: 98%;
              height: 30px;
              font-size:$m-font - 4px;
              border: 1px solid rgba($sec, .4);
              background-color: $h-color;
              outline: none;
              margin-bottom: 10px;
              padding: 0 0 0 10px;
              text-transform: capitalize;
              display: block;
              caret-color: $pry;
              @include border-r(7px);
              
  
            }
            textarea{
              min-height: 150px;
              padding-top: 10px;
              max-height: 200px;
  
            }
            button {
              margin-left: 1%;
              --c: #fff;
              color: var(--c);
              font-size: 13px;
              border: 0.1em solid $pry;
              border-radius: 0.5em;
              width: 7em;
              text-transform: uppercase;
              font-weight: bold;
              font-family: sans-serif;
              letter-spacing: 0.1em;
              text-align: center;
              height: 2.8em;
              position: relative;
              overflow: hidden;
              z-index: 1;
              transition: 0.5s;
              margin-bottom:1rem;
              background-color: $pry;
              line-height: 2.6em;
              a{
                text-decoration: none;
                color: $h-color;
                border: none;
                @include transition(.5s);
              }
              span {
                position: absolute;
                width: 25%;
                height: 100%;
                background-color: var(--c);
                transform: translateY(150%);
                border-radius: 50%;
                left: calc((var(--n) - 2) * 25%);
                transition: 0.5s;
                transition-delay: calc((var(--n) - 1) * 0.1s);
                z-index: -1;
            }
            span:nth-child(1) {
              --n: 1;
          }
          
         span:nth-child(2) {
              --n: 2;
          }
          
            span:nth-child(3) {
              --n: 3;
          }
          
          span:nth-child(4) {
              --n: 4;
          }
            &:hover{
             a{
              color: $sec;
             }
                color: black;
                span {
                  transform: translateY(0) scale(2);
                  -webkit-transform: translateY(0) scale(2);
                  -moz-transform: translateY(0) scale(2);
                  -ms-transform: translateY(0) scale(2);
                  -o-transform: translateY(0) scale(2);
                }
             }
          } 
     
          }
     
        
      
    


footer{
  background-color: $sec;
  p, span, li, a{
      font-family:$font-paragraph;
  }
  h5{
      @media(max-width:574px){
          margin-top: 20px;
      }
  }
  .card{
      padding: 2% 0 0 0 ;
      background-color: $sec;
      border: none;
      .min{
          background-image:none;
              min-height: auto;
          @media(max-width:991px){
              text-align:center;
          }
      }
  }
  .pull-left{
    img{
       
  width: 120px !important;
  margin-bottom:6px;

    }
    p{
       color:#eee;
       font-size: $m-font - 2px;
    }
    p.copy{
      font-size: $m-font - 4px !important;  
      padding: 4px 0 2px 0;
    }
      p{
         

      }
     
      .social {
          svg{
          margin:10px 4px;
          font-size: $m-font;
          color:#eee;
         &:hover{
              color:$pry;
              cursor:pointer;
          }
      }
      }
      @media(max-width:767px){
          text-align:center;
      }
  }
 .pull-right2{
  ul{
      list-style-type: none;
      margin: 0;
      // margin-top:5px;
      padding: 0;
  }
  a{
      text-decoration:none; 
      color: #eee;
      font-size: $m-font - 3px;
      font-family:$font-paragraph;
      @include transition(.1s);
  }
}
      
        
          
      
  
  ul.card-text{
      list-style-type: none;
      margin: 0;
      // margin-top:5px;
      padding: 0;
      li{
       
          
          &:hover a{
              cursor: pointer;
              margin-left:2px;
              color:$pry;
          }
      }
      a{
          text-decoration:none; 
          color: #eee;
          font-size: $m-font - 3px;
          font-family:$font-paragraph;
          @include transition(.1s);
       
      }
  }
  
}
  

  
  hr{
      border-width: 3px;
  }
  

  
  
  .policy{
   
      ul{
          justify-content: end;
          gap: 10px;
          @media(max-width:767px){
              justify-content: center;
          }
          li{

          }
          a{
              font-size: $m-font - 4px !important;
          }
      }
     } 
  .heading{
      color: $h-color;
      font-family:$font-title;
      text-transform:capitalize;
  }
  
  .divider{
      border-top: 2px solid rgba(189, 196, 203, 0.5);;
  }
  
 }






//  scroll to top button
.scroll_to_top {
  position: fixed !important;
  cursor: pointer;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  width: 40px; 
  height: 40px;
  background: $sec;
  display: grid; 
  place-items: center;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid $h-color;
  &:hover {
    background: #82a344;  
  }
  a {
    
    font-size: 17px;
  }
  svg{
    color: #ffffff;
  }
}

